/* styles.css */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  /*background-image: url('../../assets/Images/bg-login.jpg');  Ruta de la imagen */
  background-size: cover; /* Ajusta la imagen al tamaño de la pantalla */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que se repita */
}

/* Contenedor del formulario */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa toda la altura de la pantalla */
}

.create {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  background-color: rgba(249, 249, 249, 0.9); /* Fondo con transparencia */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* El resto de tus estilos permanece igual */
.create h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.create form {
  display: flex;
  flex-direction: column;
}

.create label {
  margin-bottom: 8px;
  font-size: 14px;
  color: #555;
}

.create input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.create input:focus {
  border-color: #007bff;
  outline: none;
}

.create button {
  padding: 10px;
  background: linear-gradient(90deg, #d896ff, #8a2be2);
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.create button:hover {
  background: linear-gradient(90deg, #8a2be2, #d896ff);
}

.create button:active {
  background-color: #004080;
}

.error {
  color: #ff0000;
  font-size: 14px;
  margin-bottom: 15px;
}
 /* Login Link */
 .login-link {
  color: #8a2be2;
  font-weight: bold;
  text-decoration: none;
}

.login-link:hover {
  text-decoration: underline;
}